# Grafana Configuration

[server]
http_port = 3000
domain = localhost
root_url = %(protocol)s://%(domain)s:%(http_port)s/

[database]
type = sqlite3
path = /var/lib/grafana/grafana.db

[security]
admin_user = admin
admin_password = admin


[users]
allow_sign_up = false

[auth.anonymous]
enabled = true

[auth.basic]
enabled = false

[auth.ldap]
enabled = false

[smtp]
enabled = false

[logging]
mode = console
